<nav>
    <a [routerLink]="['']" routerLinkActive="active">
        <h1>Mullegro</h1>
    </a>
    <div class="collapsible">
        <ul>
            <li>
                <a [routerLink]="['']" routerLinkActive="active">
                    Search
                </a>
            </li>
            <li>
                <a [routerLink]="['login']" routerLinkActive="active">
                    Login
                </a>
            </li>
            <li>
                <a [routerLink]="['register']" routerLinkActive="active">
                    Register
                </a>
            </li>
        </ul>
    </div>
</nav>
