login {
    @include DefaultSpacings();
    margin-top: 4.5em;
    display: flex;
    flex-direction: column;
    h2 {
        @include centerOnX();
        font-size: xx-large  ;
    }
}

sign {
    @extend login
}