category {
    @include DefaultSpacings();
    .card-y {
        height: 2em;
        color: black;
        margin: 1em;
    }
}

.category-grid {
    @include DefaultSpacings();
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}