home {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 1em;
  grid-row-gap: 1.5em;
  padding-bottom: 2em;
  @include DefaultSpacings();
}

.welcome-banner {
  background-color: $welcome-banner;
  color: white;

  grid-column: 1 / span 3;

  display: block;
  padding: 1em;
  border-radius: 0.25em;
  height: 25vh;

  @include DropShadow();
}

@media screen and (max-width: $mobile-width) {
  home {
    display: flex;
    flex-direction: column;
  }
}
