post {
    @include DefaultSpacings();
    label {
        font-weight: bold;
    }
}

post-details {
    width: 25vw;
    div {
        margin-bottom: 1em;
    }
}

create-post-page,
post-list-page {
    @include DefaultSpacings();
    input {
        margin-bottom: 2em;
        width: 40em;
    }
}
