post {
  @include DefaultSpacings();
  label {
    font-weight: bold;
  }
}

post-details {
  div {
    margin-bottom: 1em;
  }
}

create-post-page,
post-list-page {
  @include DefaultSpacings();

  input {
    width: -webkit-fill-available;
  }

  .post-list-items {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    .post-list-card {
      width: auto !important;
      line-height: 1.5em;

      img {
        padding-right: 0 !important;
      }
    }
  }
}
