add-review {
    @include DefaultSpacings();
}

add-review-form {
    width: 40%;
    form {
        width: 90%;
    }
}

.review-section {
    @include DefaultSpacings();
    width: 40em;
}

review {
    p {
        width: 60%;
    }
}