user-profile {
  @include DefaultSpacings();
}

user-profile-summary {
  line-height: 2;
  .info {
    @include DefaultSpacings();
    width: 25vw;
    .bio {
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }
}

user-profile-details {
  line-height: 2em;
}

user-list-page {
  @include DefaultSpacings();
  input {
    margin-bottom: 1em;
    width: 32em;
  }
}

.user-list {
  padding: 1.5em;
  padding-top: 0.5em;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

user-list-card {
  flex: 1 1;
  flex-basis: 14%;
  max-width: 11em;
  min-width: 7em;
  display: block;
  background-color: white;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 2em;
  border-radius: 0.25em;
  @include DropShadow();
  @include DropShadowHover();
}

.user-list-card {
  display: flex;
  flex-direction: column;

  text-decoration: none;
  color: black;

  img {
    flex: 1 1;
    margin-bottom: 0.5em;
    width: 11em;
    height: 11em;
  }
  p {
    flex: 1 1;
    word-wrap: break-word;
  }
}

user-profile-edit-page {
  @include DefaultSpacings();
  form {
    margin-top: 0.45em;
  }
}

user-sales-stats {
  margin-bottom: 5em;
}
