user-profile {
    @include DefaultSpacings();
}

user-profile-summary {
    .info {
        @include DefaultSpacings();
        width: 25vw;
        .bio {
            margin-top: 1em;
            margin-bottom: 1em;
        }
    }
}

user-profile-details {
    width: 25vw;

    p {
        @include DefaultSpacings();
    }
}

user-list-page {
    @include DefaultSpacings();
    input {
        margin-bottom: 2em;
    }
}

.user-list {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    @media only screen and (max-width: 1475px) {
        grid-template-columns: auto auto auto auto;
    }
    @media only screen and (max-width: 1200px) {
        grid-template-columns: auto auto auto;
    }
    @media only screen and (max-width: 915px) {
        grid-template-columns: auto auto;
    }
}

user-list-card {
    width: fit-content;
    display:block;
    background-color: $card-g;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    border-radius: 0.25em;
    @include DropShadow();
    @include DropShadowHover();
    &:hover {
        background-color: $card-g-hover;
    }
}

.user-list-card {
    display: flex;
    flex-direction: column;

    text-decoration: none;
    color: black;

    img {
        margin-bottom: 0.5em;
        width: 11em;
        height: 11em;
    }
}

user-profile-edit-page {
    @include DefaultSpacings();
    form {
        margin-top: 0.45em;
    }
}