user-profile {
  @include DefaultSpacings();
}

user-profile-summary {
  line-height: 2;
  .info {
    @include DefaultSpacings();
    .bio {
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }
}

user-profile-details {
  line-height: 2em;
}

user-list-page {
  @include DefaultSpacings();
  input {
    margin-bottom: 1em;
    width: 32em;
  }
}

.user-list {
  padding: 1em;
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  user-list-card {
    width: auto !important;
    padding-right: 0 !important;
  }
}

.user-list-card {
  display: flex;
  flex-direction: row;

  background-color: white;
  margin: 1em;
  margin-bottom: 2em;
  padding: 1em;
  border-radius: 0.25em;

  text-decoration: none;
  color: black;
  @include DropShadow();
  @include DropShadowHover();

  img {
    height: 3em;
    width: 3em;
    margin-right: 30px;
    border-radius: 5em;
    align-self: center;
    @include DropShadow();
  }
  .user-list-card-details {
    align-self: center;
    p {
      flex: 1 1;
      word-wrap: break-word;
    }
  }
}

user-profile-edit-page {
  @include DefaultSpacings();
  form {
    margin-top: 0.45em;
  }
}

user-sales-stats {
  margin-bottom: 5em;
}
