<div class="Signup">
    <!--   -->
    <h4>Signup</h4>
    <form #registerForm="ngForm" (ngSubmit)="attemptSignup(registerForm)">
        <input type="text" name="firstname" placeholder="Enter First Name" required ngModel>
        <input type="text" name="lastname" placeholder="Enter Last Name" required ngModel>
        <input type="text" name="address" placeholder="Enter Adress" required ngModel>
        <input type="email" name="email" placeholder="Enter Email" required ngModel>
        <input type="password" name="password_1" placeholder="Enter Password" required ngModel>
        <input type="password" name="password_2" placeholder="Re-enter Password" required ngModel>
        <input type="submit" value="Signup">
    </form>
</div>