app-navbar {
    background-color: rgb(159, 199, 108);
    display: block;
    padding: 0.5em;
    border-radius: 0.5em;
    @include DefaultSpacings();
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: $welcome-banner;
    .title {
        font-size: x-large;
    }
    @media screen and (max-width: $mobile-width){
        justify-content:flex-start;
    }
}

.collapsible ul {
    display: flex;
    width: 30vw;
    justify-content: space-between;
    li {
        list-style: none;
        display: inline-block;
    }
    @media screen and (max-width: $mobile-width){
        display: none;
    }
}

.toggle-button {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    margin-right: 1em;
    @include centerOnY();
    .bar {
        height: 3px;
        width: 100%;
        background-color: $welcome-banner;
        border-radius: 10px;
    }
    @media screen and (max-width: $mobile-width) {
        display: flex;
    }
}