app-navbar {
  background-color: $navbar;
  display: block;
  padding: 1em;
  @include DropShadow();
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  a {
    font-size: medium;
    color: white;
    text-decoration: none;
    &:visited {
      color: white;
    }
  }

  .main-block {
    flex-grow: 8;
    .title {
      font-size: xx-large;
    }
    .nav-link {
      margin-left: 2em;
    }
  }

  .search-bar {
    width: 20em;
    margin-right: 1em;
  }

  .user-utils {
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 2.4em;
      overflow-y: hidden;
    }
  }
  .no-logged-in-user-user-utils {
    flex-grow: 0.4;
  }
  .user-img {
    position: relative;
    top: 0.5em;
  }
  img {
    border-radius: 1em;
    height: 1.8em;
    width: 1.8em;
    @include DropShadow();
  }
}

nav-user-utils-menu {
  @include DropShadow();
  position: fixed;
  right: 1em;
  top: 6em;
  z-index: 1000;
  display: block;
  background-color: $wel-ban-hover;
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 0.25em;

  width: 18em;
  line-height: 2.5;
  li {
    width: 100%;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    &:hover {
      background-color: $nav-user-util-menu;
    }
  }
  a {
    margin-left: 1em;
    font-size: medium;
    color: white;
    text-decoration: none;
    &:visited {
      color: white;
    }
  }
}
