nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    h1 {
        font-size: x-large;
    }
    .collapsible ul {
        display: flex;
        width: 30vw;
        justify-content: space-between;
        li {
            list-style: none;
            display: inline-block;
        }
    }
}