three-column-display {
  display: grid;
  gap: 1.5em;
  grid-template-columns: 16em 2fr 2fr;
}

@media only screen and (max-width: 1000px) {
  three-column-display {
    display: grid;
    gap: 1.5em;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;

    .col3 {
      grid-column: 1 / span 2;
    }
  }
}

@media only screen and (max-width: 700px) {
  three-column-display {
    display: flex;
    flex-direction: column;
  }
}
