<nav>
  <a 
    [routerLink]="['']" 
    routerLinkActive="active"
    class="title"
  >
    Mullegro
  </a>
    <div>
      <ul>
        <ng-template *ngIf="(currentUser$ | async); then thenBlock; else elseBlock"></ng-template>
          <ng-template #thenBlock>
          <li>
            <a [routerLink]="['/cart']" routerLinkActive="active">
              Cart
            </a>
            |
            <a [routerLink]="['/user/'+(currentUser$ | async)?.username]" routerLinkActive="active">
              {{(currentUser$ | async)?.name}}
            </a>
            |
            <a (click)="signOut()"> Sign Out</a>
          </li>
          </ng-template>

          <ng-template #elseBlock>
            <li>
            <a [routerLink]="['login']" routerLinkActive="active">
              Login
            </a>
            |
            <a [routerLink]="['signup']" routerLinkActive="active">
              Sign Up
            </a>
          </li>
          </ng-template>
      </ul>
    </div>
</nav>
