<nav>
  <div class="main-block">
    <a [routerLink]="['']" routerLinkActive="active" class="title">
      Mullegro
    </a>
    <a [routerLink]="['/posts']" routerLinkActive="active" class="nav-link"
      >Posts</a
    >
    <a [routerLink]="['/users']" routerLinkActive="active" class="nav-link"
      >Users</a
    >
  </div>
  
  <input
    class="search-bar"
    type="text"
    placeholder="Search for Mullegro Posts"
    #searchInput
    (keyup.enter)="searchForPosts(searchInput.value)"
  />

  <div class="user-utils">
    <ul>
      <ng-container
        *ngIf="currentUser$ | async; then thenBlock; else elseBlock"
      ></ng-container>

      <ng-template #thenBlock>
        <li
          class="user-img"
          (click)="toggleUserUtilsMenu()"
          (clickOutside)="onClickedOutside($event)"
        >
          <img [src]="(currentUser$ | async)?.profile_picture" />
        </li>
      </ng-template>

      <ng-template #elseBlock>
        <li>
          <a [routerLink]="['login']" routerLinkActive="active">Login</a>
        </li>
        <li>
          <a [routerLink]="['signup']" routerLinkActive="active">Sign Up</a>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
<nav-user-utils-menu
  [(showUserUtilsMenu)]="showUserUtilsMenu"
></nav-user-utils-menu>
