$navbar: #564787;
$card-y: #fea82f;
$card-y-hover: #f8b14d;
$card-r: #f0544f;
$card-r-hover: #ee6863;
$card-g: #9ab87a;
$card-g-hover: #b4ca9d;

$footer: #36827f;
$borderOutline: #dadada;

$background: #ffffff;
$welcome-banner: #555a90;
$wel-ban-hover: #787ebd;
$nav-user-util-menu: #9097e3;

$tr-hover: #cacbe0;
$table-2nd-color: #f2f2f2;
