* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

body {
  min-height: 100vh;
  background-color: $background;
}

h1,
h2,
h3 {
  padding-bottom: 0.5em;
}
