* {
  font-size: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
}

h1,
h2 {
  font-size: large;
}

h3,
h4,
p {
  font-size: medium;
}

.currency {
  color: rgb(14, 206, 14);
  font-weight: 500;
}

.error-message {
  color: rgb(255, 81, 81);
  font-size: small;
  font-style: italic;
  font-weight: lighter;
  margin-bottom: 2em;
}
